.reveal h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 30px;
 }

.reveal h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
 }

.reveal h3 {
  text-align: left;
  font-size: 30px;
  margin-top: 30px;
}

body:after {
content: url(../../images/QR-Code.png);
position: fixed;
bottom: 45em;
left: 108em;
box-shadow: 3px 3px 5px #000; }

.callout-header {
  font-size: 0.9em;
}
    
.callout-content {
  font-size: 0.7em;
}
